In [2]:
import pandas as pd

In [4]:
df = pd.read_pickle("precise_1.pkl")
df = df.drop("zipcode", axis=1)
df

,target,lat,lng,date,past3hours,layers
0,0,52.041507,4.312585,2016-01-07 13:31:28,773.0,"[[30.55196, 31.968113, 32.51651, 32.53673, 30...."
1,0,52.041826,4.320752,2016-01-07 13:34:00,769.0,"[[0.874535, 0.87359786, 0.87053186, 0.86810714..."
2,0,52.049435,4.302842,2016-01-07 15:51:32,968.0,"[[0.34225404, 0.35737655, 0.39494118, 0.385022..."
3,0,52.053205,4.300817,2016-01-07 16:22:00,1133.0,"[[8.757344, 8.390009, 8.048641, 7.6799664, 7.3..."
4,0,51.913433,4.460785,2016-01-07 17:05:08,1017.0,"[[7.834467, 8.7784, 10.767047, 11.647893, 3.40..."
...,...,...,...,...,...,...
2099,1,50.939403,5.918501,2020-06-26 20:32:43,542.0,"[[89.63541, 89.56268, 89.59041, 89.613686, 89...."
2100,1,52.700342,5.288678,2020-08-14 04:20:26,4630.0,"[[0.95675987, 2.126796, 2.6088216, 2.8971841, ..."
2101,1,52.125673,5.883898,2020-08-15 19:43:07,4004.0,"[[78.67562, 79.845856, 79.89598, 76.28995, 75...."
2102,1,50.810105,5.931416,2020-08-16 13:34:32,5404.0,"[[105.33341, 105.35252, 105.360085, 108.34318,..."
2103,1,51.599843,5.607291,2020-08-16 19:53:14,1100.0,"[[25.099936, 20.170837, 20.685408, 20.201298, ..."

In [5]:
# convert the 'date_time' column to datetime
df['date'] = pd.to_datetime(df['date'])

# display the row with the datetime value '2016-01-07 13:31:28'
df[df['date'] == '2016-01-07 13:31:28']

,target,lat,lng,date,past3hours,layers
0,0,52.041507,4.312585,2016-01-07 13:31:28,773.0,"[[30.55196, 31.968113, 32.51651, 32.53673, 30...."
1052,1,52.044014,4.318501,2016-01-07 13:31:28,773.0,"[[19.411736, 19.212477, 19.001701, 18.773726, ..."

In [9]:

df[df.duplicated(subset=['date'], keep=False)].sort_values(by='date').tail(10)

,target,lat,lng,date,past3hours,layers
2099,1,50.939403,5.918501,2020-06-26 20:32:43,542.0,"[[89.63541, 89.56268, 89.59041, 89.613686, 89...."
1047,0,50.941314,5.924340,2020-06-26 20:32:43,519.0,"[[83.63053, 83.73474, 87.6172, 88.923515, 89.8..."
2100,1,52.700342,5.288678,2020-08-14 04:20:26,4630.0,"[[0.95675987, 2.126796, 2.6088216, 2.8971841, ..."
1048,0,52.701810,5.287026,2020-08-14 04:20:26,5228.0,"[[2.723569, 2.2873683, 2.2930648, 2.0737703, 1..."
2101,1,52.125673,5.883898,2020-08-15 19:43:07,4004.0,"[[78.67562, 79.845856, 79.89598, 76.28995, 75...."
1049,0,52.125873,5.877742,2020-08-15 19:43:07,4004.0,"[[65.2703, 65.2788, 65.36594, 65.3563, 64.0272..."
2102,1,50.810105,5.931416,2020-08-16 13:34:32,5404.0,"[[105.33341, 105.35252, 105.360085, 108.34318,..."
1050,0,50.810825,5.925674,2020-08-16 13:34:32,5404.0,"[[104.74205, 104.73835, 104.73826, 104.730965,..."
1051,0,51.604235,5.608575,2020-08-16 19:53:14,1100.0,"[[17.186, 17.398, 17.648, 17.951, 18.341, 18.6..."
2103,1,51.599843,5.607291,2020-08-16 19:53:14,1100.0,"[[25.099936, 20.170837, 20.685408, 20.201298, ..."